<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>Main Page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
		<script src="/static/ng-quick-date.min.js"></script>
		<link rel="stylesheet" href="/static/ng-quick-date.css">
		<script>
			var myApp = angular.module('myApp', ["ngQuickDate"]);

			myApp.config(function ($interpolateProvider) {
				$interpolateProvider.startSymbol('{[{');
				$interpolateProvider.endSymbol('}]}');
			});

			myApp.controller('myCtrl', function ($scope, $http) {
				$http.get('/tablenames').success(function (data) {
					$scope.tablenames = data;
				});
				$scope.current_table = '';
				$scope.result = {};
				
				$scope.get_table = function (elem) {
					// при нажатии на ссылку запрашиваем таблицу с названием,
					// указанном в ссылке
					$scope.current_table = elem.value;
					$http.get('/' + elem.value).success(function (data) {
						$scope.content = data;
						$scope.values = data['columns'];
						$scope.rows = data['data'].map(function (elem) {
							return false;
						});
					});
					// при переходе между таблицами обнуляем данные для добавления/редактирования
					$scope.result = {};
					$scope.hide_vals = [];
				}
				$scope.add_value = function (elem) {
					// преобразуем данные в формат x-www-form-urlencoded
					var data = "";
					for (var key in $scope.result)
						data += key + "=" + $scope.result[key] + "&";
					data = data.slice(0, data.length - 1);

					$http({
						method: "POST",
						url: "/add/" + $scope.current_table,
						data: data,
						headers: {
							"Content-Type": "application/x-www-form-urlencoded"
						}
					}).success(function (data, status, headers, config) {
						var tmp = [];
						// упорядочиваем данные в нужном нам порядке
						for (var i in $scope.content['columns'])
							tmp.push(data[$scope.content['columns'][i].id]);
						$scope.content['data'].push(tmp);
					}).error(function (data, status, headers, config) {
						alert('Заполните поле(я) ' + data);
					});
				}
				// фиксирует все изменения в форме добавления элементов
				$scope.change_value = function (index, value) {
					if (value['type'] == 'date')
						$scope.result[value['id']] = ('' + value['result']).slice(4, 15);
					else
						$scope.result[value['id']] = value['result'];
				}
				$scope.old_row = {};	// Значение до редактирования
				$scope.hide_vals;		// ячейка, которую мы скрываем на время редактирования
				
				$scope.edit_cel = function (index, value, row, elem) {
					$scope.form_type = $scope.content['columns'][index]['type'];
					for (var i in $scope.content['data']) {
						var flag = true;
						for (var key in row)
							if (row[key] != $scope.content['data'][i][key]) {
								flag = false;
								break;
							}
						if (flag) {
							// Если это нужное нам значение, то отсылаем старое и новое значения
							$scope.old_row = $scope.content['data'][i];
							$scope.hide_vals = elem.$id;
							break;
						}
					}
				}
				$scope.put_value = function (elem, index, row) {
					// отправляет новое значение на сервер в формате
					// {old: row, new_val: {field: val}}
					var field = $scope.content['columns'][index]['id'];	// имя обновляемого поля
					var data = {};
					data["old"] = {};
					for (var i in $scope.values) {
						data["old"][$scope.values[i]["id"]] = row[i];
					}
					data["new_val"] = {};
					data["new_val"][field] = $scope.new_value;

					var data = "old=" + JSON.stringify(data['old']) + "&new_val=" + JSON.stringify(data['new_val']);
					// Тут желателен PUT, но непонятно, как его извлечь в django
					$http({
						method: "POST",
						url: "/put/" + $scope.current_table,
						data: data,
						headers: {
							"Content-Type": "application/x-www-form-urlencoded"
						}
					}).success(function (data, status, headers, config) {
						$scope.content = data;
					});
					$scope.hide_vals = '';
				}
				$scope.change_put = function (index, value, elem) {
					$scope.new_value = elem.column;
				}
			});
		</script>
	</head>
	<body ng-controller="myCtrl">
		<div style="width: 80%;float:right;margin-top:0">
			<table style="width: 100%;">
				<thead>
					<tr>
						<td ng-repeat="column in content['columns']" style="border: 1px solid black">
							{[{column['title']}]}
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in content['data'] track by $index">
						<td ng-repeat="column in row" ng-click="edit_cel($index, column, row, this)" style="border: 1px solid black">
							<span ng-if="hide_vals != $id">{[{column}]}</span>
							<!-- Форма редактирования элементов -->
							<form ng-if="hide_vals == $id" ng-submit="put_value(this, $index, row)">
								<input type="{[{form_type}]}" ng-model="column" ng-if="form_type != 'date'" ng-change="change_put($index, column, this)">
								<quick-datepicker ng-model="column" ng-if="form_type == 'date'" ng-change="change_put($index, column, this)"></quick-datepicker>
								<input type="submit" value="submit">
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Форма добавления элемента -->
			<form ng-submit="add_value(this)" style="border: 1px solid black" ng-show="content">
				<p ng-repeat="column in content['columns']" ng-model="values">
					<label>{[{column['title']}]}</label>
					<input ng-type="{[{column['type']}]}" type="{[{column['type']}]}" ng-model="column.result" ng-change="change_value($index, column)" ng-if="column['type']!='date'" required>
				
				<quick-datepicker ng-model='column.result' disable-timepicker='true' ng-if="column['type']=='date'" ng-change="change_value($index, column)" date-format="MM/dd/yyyy" required="true"></quick-datepicker>
				</p>
				<input type="submit" value="Submit">
				<!-- yyyy-mm-dd -->
			</form>
		</div>
		<ul style="float:left">
			<li ng-repeat="value in tablenames"><a href="#" ng-click="get_table(this)">{[{value}]}</a></li>
		</ul>
	</body>
</html>